# Environnement Python
env/
venv/
.venv/

# Variables d'environnement
.env

# Cache Python
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Données brutes
data/raw/olist_geolocation_dataset.csv

# Fichiers système / IDE
.vscode/
.idea/
.DS_Store